<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="card-container">
            <% data.forEach(element => { %>
                <div class="tags">
                    <img class="tag-ticket" src="/src/tag-ticket.svg" alt="tags-ticket">
                    <% element.tags.forEach(index => { %>
                        <h2><%= index %></h2>
                    <% }) %>
                </div>
                <a class="card" href="127.0.0.1:8080/quiz-play/<%= element._id %>">
                    <div id="<%= element._id %>" class="card-inside">
                        <h1><%= element.quizTitle %></h1>
                    </div>
                </a>
            <% }) %>
            <script src="/js/index.js"></script>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>