<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="card-container">
            <% data.forEach(element => { %>
            <div class="card">
                <h1><%= element.quizTitle %></h1>
            </div>
            <div class="tags">
                <img class="tag-ticket" src="/src/tag-ticket.svg" alt="tags-ticket">
                <h2><%= element.tag %></h2>
            </div>
            <% }) %>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>