<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <% if (data){ %>
        <div class="quiz-infos">
            <h1><%= data.quizTitle %></h1>
            <div class="tags-info">
                <% data.tags.forEach(element =>{ %>
                    <h2><%= element %></h2>
                <% }) %>
            </div>
        </div>
        <% } %>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>